/* Import the Inter font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@font-face {
  font-family: 'Protofo';
  src: url('/Font/protofo.regular.otf') format('truetype'); /* Assumes you have a .ttf file */
  font-weight: normal;
  font-style: normal;
}

/* Import Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
    /* The font-family is now primarily controlled by Tailwind */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
/* {
//  cursor: none !important;
//} */

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: #111;
}
::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}

/* Three.js Canvas */
#fluid-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    z-index: 0;
}

/* Project Card Layout */
.project-card {
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 2rem;
    position: relative;
    overflow: hidden;
}

.project-image-container {
    cursor: pointer;
}

/* Base styles for Embla Carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  height: 100%;
}
.embla__slide {
  /* This allows each slide to have its own width */
  flex: 0 0 auto; 
  min-width: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* This adds the thin vertical separator line between slides */
.embla__slide:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -0.5px; /* Position it exactly between slides */
  top: 10%;
  bottom: 10%;
  width: 1px;
  background-color: #e5e7eb; 
  z-index: 10;
}

.button1 {
  color: #090909;
  padding: 0.5rem 1.5rem; /* consider reducing from 5rem 5rem – it’s too large */
  font-size: 18 px;
  border-radius: 0.5em;
  background: #ffffff;
  cursor: pointer;
  border: 1px solid #ffffff;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #e3e3e3, -6px -6px 12px #ffffff;
}

.button1::after {
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(255,255,255,0.25) 0%, rgba(255,255,255,0) 70%);
  transform: scale(0);
  transition: transform 0.5s ease;
}

.button1:hover::after {
  transform: scale(4);
}

.button1:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.button1:hover {
  border-color: #d7d7d7;
  background: #f4f4f4;
}

html, body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: touch;
}